
*{
margin:0;
padding:0;
list-style:none;
}
.container{
	position:relative;
}
.box{
	width:96%;
	left:2%;
	top:30px;
    position:absolute;
}
.nav1{
	position:absolute;
	height:10vh;
	width:100%;
	background:grey;
}
.nav1 h2{
	position:absolute;
	color:white;
	left:15%;
	top:3vh;
	font-size:22px;
	text-transform:uppercase;	
}
.nav1 ul{
	position:relative;
	position:absolute;
	height:10vh;
	font-size:15px;
	width:48%;
	left:52%;
}
.nav1 ul li{
	float:left;
	margin-left:5%;
	margin-top:4vh;
	left:7%;
	color:white;
	top:3vh;
	text-transform:uppercase;	
}
.nav1 ul li i{
	color:orangered;
}
.nav1 ul li:nth-child(1){
	color:orangered;
}
.page1{
	height:90vh;
	width:100%;
	background-image:linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)), url('background-01.jpg');
}
.text{
	position:absolute;
	height:60vh;
	width:50%;
	left:15%;
	top:30vh;
	color:white;
	text-transform:uppercase;
	padding:1px;
	box-sizing:border-box;
}
.text h2{
	color:lightgrey;
	letter-spacing:2px;
	font-size:27px;
}
.text h1{
	color:white;
	margin-top:2vh;
	font-size:45px;
}
.text p{
	margin-top:6vh;
	color:lightgrey;
	font-size:15px;
}
.btn1{
	text-transform:uppercase;
	width:18%;
	font-size:15px;
	padding:10px;
	margin-top:10vh;
	background:orangered;
	color:white;
	border:none;
}
.btn2{
	text-transform:uppercase;
	width:15%;
	margin-left:3%;
	font-size:15px;
	padding:10px;
	margin-top:10vh;
	background:transparent;
	border:1px solid grey;
	color:white;
}
.page2{
	position:relative;
	width:100%;
	height:80vh;
	background:black;

}
.text-two{
	width:100%;
	height:20vh;
	position:absolute;
	text-align:center;
	top:10vh;
}	
.text-two h2{
    color:white;
	text-transform:uppercase;
	font-size:25px;
}
.text-two p{
	color:lightgrey;
	font-size:20px;
	top:10vh;
}
.two{
	position:absolute;
	width:80%;
	height:52vh;
	left:10%;
	top:25vh;
	padding:1px;
	box-sizing:border-box;
}
.text2 {
	width:30%;
	height:25vh;
	padding:1px;
	float:left;
	margin-left:2%;
	margin-top:0.5vh;
	box-sizing:border-box;
}
.logo{
	width:15%;
	height:30%;
	border:1px solid orangered;
}
.logo img{
	height:100%;
	width:100%;
}
.small{
	width:80%;
	height:100%;
	margin-left:20%;
	margin-top:-20%;
}
.small h2{
	color:white;
	font-size:18px;
	text-transform:uppercase;
}
.small p{
	color:lightgrey;
	font-size:20px;
	margin-top:8%;
}
.sss{
	color:orangered;
	font-size:15px;
	margin-top:8%;
	text-transform:capitalize;
	}
.page3{
	height:120vh;
	width:100%;
	position:relative;
	background:white;

}
.text-three{
	width:100%;
	height:20vh;
	position:absolute;
	text-align:center;
	top:10vh;
}	
.text-three h2{
	color:black;
	text-transform:uppercase;
	font-size:25px;
}
.text-three p{
	color:grey;
	font-size:20px;
	top:10vh;
}
.text3{
	top:25vh;
    width:70%;
	left:12%;
	height:100vh;
	position:absolute;
}
.three{
	position:relative;
	width:50%;
	height:25vh;
	margin-top:5vh;
	float:left;
}
.image{
	position:absolute;
	width:45%;
	height:100%;
}
.image img{
	width:100%;
	height:100%;
}
.image-text{
	position:absolute;
	width:52%;
	height:100%;
	left:47%;
}
.image-text h2{
	color:black;
	text-transform:uppercase;
	font-size:20px;
}
.image-text p{
	color:grey;
	font-size:20px;
	margin-top:4vh;
}
.ssss{
	color:orangered;
	font-size:18px;
	margin-top:4vh;
	text-transform:capitalize;
}
.page4{
	height:100vh;
	width:100%;
	position:relative;
	background-image:linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)),url('background-02.jpg');	
	background-size:100% 100%;
}
.text-four{
	width:100%;
	height:20vh;
	position:absolute;
	text-align:center;
	top:10vh;
}
.text-four h2{
	color:white;
	text-transform:uppercase;
	font-size:25px;
}
.text-four p{
	color:whitesmoke;
	font-size:20px;
	top:10vh;
}
.text4{
	top:30vh;
    width:80%;
	left:10%;
	height:60vh;
	position:absolute;
}
.four{
	width:22%;
	height:60vh;
	margin-left:3%;
	float:left;
}
.image4{
	width:100%;
	height:50%;
}
.image4 img{
	width:100%;
	height:100%;
}
.image-text4{
	text-align:center;
	width:100%;
	height:50%;
	left:47%;
}
.image-text4 h2{
	color:white;
	text-transform:uppercase;
	margin-top:5vh;
	font-size:18px;
}
.image-text4 p{
	color:whitesmoke;
	font-size:20px;
	margin-top:4vh;
}
.btn4{
	color:white;
	width:60%;
	margin-left:20%;
	background:orangered;
	font-size:20px;
	padding:10px;
	box-sizing:border-box;
	margin-top:4vh;
	text-transform:capitalize;
}
.page5{
	position:relative;
	height:70vh;
	width:100%;
	background-color:rgba(0, 0, 0, .9);
}
.five{
	position:absolute;
	width:80%;
	height:52vh;
	left:10%;
	top:10vh;
	padding:1px;
	box-sizing:border-box;
}
.text5{
	width:30%;
	height:100%;
	margin-left:3%;
	float:left;
}
.text-five{
	padding:1px;
	box-sizing:border-box;
	width:100%;
	height:60%;
}
.text-five h2{
	color:white;
	text-transform:uppercase;
	font-size:20px;
	margin-top:5vh;
}
.text-five1 p{
	color:lightgrey;
	font-size:20px;
	margin-top:6vh;
}
.icon5{
	width:100%;
	height:5vh;
	margin-top:8vh;
}
.icon5 ul{
width:100%;
height:5vh;
}
.icon5 ul li {
    float:left;
   margin-left:5%;
   font-size:20px;
   color:white;
}	
.icon5 ul li i{
	width:40px;
	padding:10px;
    box-sizing:border-box;
	background:orangered;
	color:white;
}
.text-five2{
	padding:1px;
	box-sizing:border-box;
	width:100%;
	height:100%;
}
.text-five2 h2{
	color:white;
	text-transform:uppercase;
	font-size:20px;
	margin-top:5vh;
}
.text-five2 ul{
	margin-top:5vh;
	
}
.text-five2 ul li{
	font-size:18px;
	color:whitesmoke;
	border-bottom:1px solid grey;
	padding:2.5vh;
	box-sizing:border-box;
}
.text-five2 ul li i{
	color:whitesmoke;
color:lightgrey;
}
.text-five2 ul li ppp{	
    margin-left:8%;
	color:lightgrey;;
}
.text-five3{
	height:50%;
	width:100%;
	border-bottom:1px solid grey;
}
.text-five3 h2{
	color:orangered;
	text-transform:uppercase;
	font-size:20px;
	margin-top:5vh;
}
.text-five3 p{
	color:lightgrey;
	font-size:13px;
}
.text-five3 fff{
	font-size:20px;
	margin-top:2vh;
	color:lightgrey;
}
.text-five4{
	height:50%;
	width:100%;
}
.text-five4 h2{
	color:orangered;
	text-transform:uppercase;
	font-size:20px;
}
.text-five4 p{
    color:lightgrey;
	font-size:13px;
}
.text-five4 fff{
	font-size:20px;
	color:lightgrey;
}
.nav2{
	width:100%;
	height:12vh;
	background:orangered;
	padding:1px;
	box-sizing:border-box;
}
.nav2 ul{
	height:5vh;
	margin-top:4vh;
	margin-left:10%;
}
.nav2 ul li{
	float:left;
	font-size:18px;
	color:white;
	margin-left:1%;
	padding:0px 10px;
	text-transform:uppercase;
	border-right:1px solid grey;
}
.page6{
	height:45vh;
	background:black;
	position:relative;
}
.left{
	position:absolute;
	color:lightgrey;
	left:12%;
	font-size:20px;
	top:2vh;
}

.right{
	position:absolute;
	color:lightgrey;
	right:12%;
	font-size:20px;
	top:2vh;
}
.last{
	position:relative;
	position:absolute;
	width:70%;
	height:20vh;
	right:15%;
	bottom:3vh;
	background:whitesmoke;
	border-radius:10px;
}
.last p1{
	position:absolute;
	text-align:center;
	color:dimgrey;
	font-size:35px;
	top:4vh;
	left:20%;
	text-transform:uppercase;
}
.last p2{
	position:absolute;
	color:grey;
	font-size:15px;
	bottom:7vh;
	right:3%;
}
.last p2 aaa{
	color:black;
	font-size:25px;
}
.last ul{
	position:absolute;
	width:100%;
	height:7vh;
	bottom:0;
	border-top:grey;
	background:lightgrey;

}
.last ul li{
	float:left;
	text-transform:uppercase;
    font-size:20px;	
	padding:10px;
	width:12.4%;
	height:4vh;
	text-align:center;
	color:dimgrey;
	background:lightgrey;
}
.last ul li:nth-child(2){
    background:whitesmoke;
	border-radius:5px;
	color:black;
	height:3vh;
}
	